.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.reminderForm {
  background: #f9f9f9;
  padding: 25px;

  & input[type='text'],
  & input[type='datetime-local'],
  & button[type='submit'],
  & .deleteBtn {
    font: 400 12px/16px 'Roboto', Helvetica, Arial, sans-serif;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
  }

  & h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }

  & h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    text-align: center;
  }

  & fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  & input[type='text']:hover,
  & input[type='datetime-local']:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }

  & button[type='submit'] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4caf50;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
  }

  & .deleteBtn {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #af5451;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
  }

  & button[type='submit']:hover {
    background: #43a047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  & .deleteBtn:hover {
    background: #a05244;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  & button[type='submit']:active,
  & .deleteBtn:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  & input:focus,
  & textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  & ::-webkit-input-placeholder {
    color: #888;
  }

  & :-moz-placeholder {
    color: #888;
  }

  & ::-moz-placeholder {
    color: #888;
  }

  & :-ms-input-placeholder {
    color: #888;
  }
}
