$blue_color: #4388bf;
$holiday_background_color: #f4f4f4;

ul {
  & li {
    display: flex;
    list-style: none;
    margin-left: 0;
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
  }
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  max-width: 64em;
  padding: 0;

  &.calendar_header {
    background-color: $blue_color;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: white;
    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-left: 0;
      font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1600 - 300)));
      height: 2vw;
    }

    & abbr[title] {
      border: none;
      font-weight: 800;
      text-decoration: none;
    }

    &.month_header {
      grid-template-columns: repeat(1, 1fr);
      &div {
        margin: auto;
      }
    }
  }

  &.day_grid {
    border-left: solid 1px black;
    border-top: solid 1px black;
    & li {
      background-color: #eaeaea;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      height: 12vw;
      max-height: 125px;
      font-weight: bold;
      padding: 2px;

      &.date {
        margin-top: 3px;
        margin-left: 3px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  ul.calendar_header li {
    font-size: 0;
  }

  ul.calendar_header > li abbr:after {
    content: attr(title);
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}

.newReminderBtn {
}
.headerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto 10px;
  max-width: 64em;

  &>button {
    font: 400 12px/16px 'Roboto', Helvetica, Arial, sans-serif;
    padding: 10px;
    cursor: pointer;
    width: 20%;
    border: none;
    background: #4caf50;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
  }
}
