$blue_color: #4388bf;
$holiday_background_color: #f4f4f4;
.dateReminders {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  overflow-y: scroll;
}

.weekend {
  background-color: $holiday_background_color;
  color: $blue_color;
}

.outside_month {
  background-color: #fff;
  color: #adadad;
}
